
/**
 * Dependencies.
 */

@import 'necolas/normalize.css';
@import 'twbs/bootstrap:dist/css/bootstrap.css';
@import 'component/overlay';
@import 'olivoil/dragdrop';
@import url('http://fonts.googleapis.com/css?family=Exo');

/**
 * Variables.
 */

:root {
  --blue-color: RGBA(0, 180, 255, 1);
  --white-color: RGBA(255, 255, 255, 1);
  --gray-color: RGBA(231, 232, 243, 1);
  --text-color: #272727;
  --bg-color: RGBA(243, 247, 251, 1);
  --overlay-color: RGBA(0, 0, 0, .75);
}

/**
 * Base.
 */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 75px;
  font: 14px/1.6 "Exo", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  height: 100%;
}


/**
 * Locals.
 */

@import '../app/index.css';
@import '../list/index.css';
@import '../search/index.css';
@import '../item/index.css';
