
.overlay {
  position: fixed;
  z-index: 1050;
  background-color: var(--overlay-color);
}

.item-view {
  position: fixed;
  top: 20vh;
  z-index: 1100;
  display: flex;
  height: 350px;
  font-size: 0.9em;
}

.item-view .item {
  border-radius: 25px;
  background-color: var(--white-color);
  height: 350px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.item-view .item.dragging {
  opacity: 0;
}

.item-view .item img {
  margin: 0 auto;
}

.item-view .item .author {
  color: var(--blue-color);
}

.item-view .item .title {
  color: var(--text-color);
  padding: 20px 5px;
}

.item-view .counters {
  position: absolute;
  bottom: 20px;
}

.item-view .counters .comments, .item-view .counters .ups, .item-view .counters .downs {
  padding-left: 20px;
  line-height: 16px;
  text-align: left;
}

.item-view .counters .comments {
  background: url('../list/images/icon-sprite.png') no-repeat 0 0;
}

.item-view .counters .ups {
  background: url('../list/images/icon-sprite.png') no-repeat 0 -16px;
}

.item-view .counters .downs {
  background: url('../list/images/icon-sprite.png') no-repeat 0 -32px;
}

.item-view .instructions {
  color: var(--white-color);
  text-align: center;
  word-wrap: break-word;
  height: 350px;
}

.item-view .instructions h5 {
  margin-top: 150px;
}

.item-view .dropzones {
  height: 450px;
}

.item-view .dropzones .reddit {
  border: 2px solid transparent;
  background-color: var(--white-color);
  margin-bottom: 10px;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  color: var(--blue-color);
  height: 170px;
}

.item-view .dropzones .reddit.over {
  border: 2px solid var(--blue-color);
}

.item-view .dropzones .reddit h3 {
  margin-top: -5px;
}

.item-view .dropzones .reddit .reddit-logo {
  background: url("./images/reddit-logo.png") no-repeat center center;
  height: 131px;
  width: 131px;
  margin: 0 auto;
}

.item-view .dropzones .email {
  border: 2px solid transparent;
  background-color: var(--white-color);
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  color: var(--blue-color);
  height: 170px;
}

.item-view .dropzones .email.over {
  border: 2px solid var(--blue-color);
}

.item-view .dropzones .email h3 {
  margin-top: -5px;
}

.item-view .dropzones .email .mail-logo {
  background: url("./images/mail-logo.png") no-repeat center center;
  height: 131px;
  width: 131px;
  margin: 0 auto;
}

