<div class="item-view container">
  <div class="row">
    <div draggable="true" class="col-md-3 col-md-offset-2 item">
      <img scale="{{ thumbnail | defaultThumbnail }}" data-width="90" data-height="90" class="img-circle" />
      <h4 class="author">{{author}}</h4>
      <p class="title">{{title}}</p>
      <div class="col-md-12 counters">
        <span class="comments col-md-4">{{ num_comments }}</span>
        <span class="ups col-md-4">{{ ups }}</span>
        <span class="downs col-md-4">{{ downs }}</span>
      </div>
    </div>

    <div class="col-md-2 instructions">
      <h5>Drag the card on the left to the desired action</h5>
    </div>

    <div class="col-md-3 dropzones">
      <div class="row">
        <div droppable="{{ this.onRedditDrop }}" class="col-md-12 reddit">
          <div class="reddit-logo"></div>
          <h3>Open on Reddit</h3>
        </div>
        <div droppable="{{ this.onMailDrop }}" class="col-md-12 email">
          <div class="mail-logo"></div>
          <h3>Email to a Friend</h3>
        </div>
      </div>
    </div>
  </div>
</div>
