.form-search .searchbox {
  border-radius: 15px;
  color: var(--blue-color);
  transition: width .5s ease;
  width: 100%;
  float: right;
}

.form-search .searchbox:focus {
  outline: none;
  width: 150%;
}

.form-search .searchbox::placeholder {
  opacity: .4;
  transition: opacity 1s;
  color: var(--blue-color);
}
