<form class="navbar-form navbar-right form-search" role="search">
  <div class="form-group">
    <input ref="category"
           on-keydown="{{ this.search }}"
           name="category"
           type="search"
           class="form-control searchbox"
           placeholder="Search">
  </div>
</form>
