<div class="boot">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <a class="navbar-brand" href="#">Reddit</a>
      </div>

      <search-view category="{{category}}"></search-view>

    </div>
  </nav>

  <div class="container main">
    <div class="row">
      <list-view posts="{{posts}}"></list-view>
    </div>
  </div>
</div>
