.navbar-fixed-top {
  margin: 0;
}

.post {
  border-bottom: 1px solid var(--gray-color);
  padding: 25px 0 20px 20px;
  cursor: pointer;
}

.post:hover {
  background-color: var(--white-color);
}

.post img {
  width: 70px;
  height: 70px;
}

.post img.unknown {
  background: url('./images/unknow.png');
}

.post .author {
  color: var(--blue-color);
}

.post .comments, .post .ups, .post .downs {
  padding-left: 25px;
  line-height: 16px;
}

.post .comments {
  background: url('./images/icon-sprite.png') no-repeat 0 0;
}

.post .ups {
  background: url('./images/icon-sprite.png') no-repeat 0 -16px;
}

.post .downs {
  background: url('./images/icon-sprite.png') no-repeat 0 -32px;
}
