<div>
  <ul each="{{posts}}" class="list-unstyled posts">
    <li class="col-md-12 post" on-click="{{ this.showPost.bind(this, $index) }}">
      <div class="col-md-1 avatar">
        <img scale="{{ thumbnail | defaultThumbnail }}" data-width="90" data-height="90" class="img-circle" />
      </div>

      <div class="col-md-11">
        <div class="row">
          <h4 class="author col-md-12">{{ author }}</h4>
          <p class="title col-md-12">{{ title }}</p>
          <div class="col-md-12 counters">
            <span class="comments col-md-2">{{ num_comments | comments}}</span>
            <span class="ups col-md-2">{{ ups | ups}}</span>
            <span class="downs col-md-2">{{ downs | downs}}</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
